<div class="homeContainer">
    <img src="/images/beer.png" alt="beer-image">
    <a class="btn btn-primary" href="/beers">Check the Beers!</a>
    <a class="btn btn-primary btn-beer" href="/beers-random">Check a Random Beer!</a>
</div>
<footer> Developed by Ironhack :) </footer>